body {
    background-color: white;
}

.duck {
    display: flex;
    flex-direction: column;
    width: 802px;
}

.anim {
    height: 500px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    position: relative;
}

.machine {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 340px;
    top: 200px;
}

.inside {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.state {
    margin: 4px;
    width: 112px;
    height: 92px;
}

.state .active {
    r: 10;
}

.outseq {
    position: absolute;
    right: 120px;
    bottom: 20px;
    padding-left: 8px;
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: row;
}

.inseq {
    position: absolute;
    left: 120px;
    top: 20px;
    padding-right: 8px;
    padding-left: 1px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row;
}

.inseq, .outseq, .alignment {
    font-family: monospace;
}

.inseq, .outseq {
    height: 16px;
}

.alignment {
    position: absolute;
    bottom: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.column .intok,
.column .outtok {
    font-size: large;
}

.input {
    font-size: xx-small;
}

.duck a {
    font-size: small;
}


/* rust theme */
.rust-theme .machine {
    box-shadow: 4px 4px 2px #502419;
}
.rust-theme .inside {
    background-color: #a04232;
}
.rust-theme .state {
    fill: #ebbe9b;
}
.rust-theme .state .active {
    fill: #502419;
}
.rust-theme .outseq,
.rust-theme .alignment .outtok {
    background-color: #c7cb85;
    box-shadow: 2px 2px 1px #7ea172;
}
.rust-theme .inseq,
.rust-theme .alignment .intok {
    background-color: #ebbe9b;
    border-color: black black black #502419;
    box-shadow: 2px 2px 1px #502419;
}

/* circus theme */
.circus-theme .machine {
    box-shadow: 4px 4px 2px #603140;
}
.circus-theme .inside {
    background-color: #095256;
}
.circus-theme .state {
    fill: #bb9f06;
}
.circus-theme .state .active {
    fill: #603140;
}
.circus-theme .outseq {
    background-color: #087f8c;
    box-shadow: 2px 2px 1px #7ea172;
}
.circus-theme .inseq {
    background-color: #bb9f06;
    border-color: black black black #603140;
    box-shadow: 2px 2px 1px #603140;
}

