body {
    background-color: white;
}

.seq {
    display: flex;
    flex-direction: column;
}

.anim {
    width: 100%;
    min-height: 500px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sim {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
/*  
    justify-content: flex-start;
*/
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.sim.halted {
    opacity: .25;
}

.residue {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    transition: background-color 0.5s ease;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.25);

}

.halted .residue {
    height: 10px;
}

.residue.mutating {
    animation: pulse 1s;
}

@keyframes pulse {
    0% { transform: scale(1); z-index: 1; }
    30% { transform: scale(1.2); z-index: 2; }
    100% { transform: scale(1); z-index: 0; }
}

.alignment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.alignment svg {
    stroke: rgba(127,127,127,.5);
    fill: rgba(127,127,127,.5);
    opacity: .5;
}

.params {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.params .param {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.params .param .label {
    width: 160px;
    text-align: right;
}

.params .param input {
    margin-left: 20px;
}

button {
    margin-right: 2px;
}