body {
    background-color: white;
}

.seq {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.anim {
    width: 100%;
    height: 500px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sim {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.residue {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: red;
}

.params {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.params .param {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.params .param .label {
    width: 160px;
    text-align: right;
}

.params .param input {
    margin-left: 20px;
}
